name: Build

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - '**.rst'
      - 'LICENSE'
      - 'data/**'
      - '**/release-*.yml'
    tags-ignore:
      - "*.*.*"
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - '**.rst'
      - 'LICENSE'
      - '**/release-*.yml'
    tags-ignore:
      - "*.*.*"
  workflow_dispatch:

jobs:
  format:
    uses: ./.github/workflows/clang-format.yml
  build:
    name: ${{ matrix.config.os }}-${{ matrix.config.preset }}-${{ matrix.build }}
    runs-on: ${{ matrix.config.os }}
    needs: format
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: "windows-latest", cxx: "msvc", cc: "msvc", preset: "msvc"}
          - {os: "ubuntu-latest", cxx: "clang++-18", cc: "clang-18", preset: "clang"}
          - {os: "ubuntu-latest", cxx: "g++-14", cc: "gcc-14", preset: "gcc"}
          - {os: "macos-latest", cxx: "clang++", cc: "clang", preset: "apple"}
        build: ["Debug", "Release"]
    steps:
      - name: Chekout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.12"
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: ~/deps
          key: deps_${{ matrix.config.os }}_${{ matrix.build }}_${{ hashfiles('dependencies.txt') }}

      - name: Install Python packages
        shell: bash
        run: |
          uv sync

      - name: Build dependencies
        if: steps.cache-deps.outputs.cache-hit != 'true'
        shell: bash
        env:
          BUILD_TYPE: ${{ matrix.build }}
        run: |
          if [[ "$OSTYPE" == "linux-gnu" ]]; then
            # Clang and GCC builds are compatible, so just use GCC.
            export CC="gcc-14"
            export CXX="g++-14"
          fi

          uv run tools/build_dependencies.py ~/deps $BUILD_TYPE

      - name: Build Zeus
        shell: bash
        env:
          BUILD_TYPE: ${{ matrix.build }}
          CONFIG_TYPE: ${{ matrix.config.preset }}
          CC: ${{ matrix.config.cc }}
          CXX: ${{ matrix.config.cxx }}
        run: |
          cmake --preset=$CONFIG_TYPE -DBUILD_SHARED_LIBS=OFF -DCMAKE_PREFIX_PATH=~/deps
          cmake --build build --config $BUILD_TYPE

      - name: Run tests
        shell: bash
        env:
          BUILD_TYPE: ${{ matrix.build }}
          CONFIG_TYPE: ${{ matrix.config.preset }}
          CC: ${{ matrix.config.cc }}
          CXX: ${{ matrix.config.cxx }}
        run: |
          if [[ "$OSTYPE" == "msys" ]]; then
            cmake --build build --target RUN_TESTS --config $BUILD_TYPE
          else
            cmake --build build --target test --config $BUILD_TYPE
          fi
