name: Release

on:
  push:
    tags:
      - "*.*.*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  format:
    uses: ./.github/workflows/clang-format.yml
  build:
    name: ${{ matrix.config.os }}
    runs-on: ${{ matrix.config.os }}
    needs: format
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: "windows-2025", cxx: "msvc", cc: "msvc", preset: "msvc"}
          - {os: "ubuntu-24.04", cxx: "g++-14", cc: "gcc-14", preset: "gcc"}
          - {os: "macos-14", cxx: "clang++", cc: "clang", preset: "apple"}
    steps:
      - name: Chekout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.12"
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: ~/deps
          key: deps_${{ matrix.config.os }}_Release_${{ hashfiles('dependencies.txt') }}

      - name: Install Python packages
        shell: bash
        run: |
          uv sync

      - name: Build dependencies
        if: steps.cache-deps.outputs.cache-hit != 'true'
        shell: bash
        env:
          BUILD_TYPE: Release
        run: |
          if [[ "$OSTYPE" == "linux-gnu" ]]; then
            # Clang and GCC builds are compatible, so just use GCC.
            export CC="gcc-14"
            export CXX="g++-14"
          fi

          uv run tools/build_dependencies.py ~/deps $BUILD_TYPE

      - name: Build Zeus
        shell: bash
        env:
          BUILD_TYPE: Release
          CONFIG_TYPE: ${{ matrix.config.preset }}
          CC: ${{ matrix.config.cc }}
          CXX: ${{ matrix.config.cxx }}
        run: |
          cmake --preset=$CONFIG_TYPE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DBUILD_SHARED_LIBS=OFF -DCMAKE_PREFIX_PATH=~/deps -DCMAKE_INSTALL_PREFIX=install/zeus -DZEUS_INSTALL_TARGET=ON
          if [[ "$OSTYPE" == "msys" ]]; then
            cmake --build build --config $BUILD_TYPE
          else
            cmake --build build --config $BUILD_TYPE --parallel
          fi

      - name: Install
        shell: bash
        working-directory: ./build
        env:
          BUILD_TYPE: Release
          CONFIG_TYPE: ${{ matrix.config.preset }}
          CC: ${{ matrix.config.cc }}
          CXX: ${{ matrix.config.cxx }}
        run: |
          if [[ "$OSTYPE" == "msys" ]]; then
            cmake --build . --target INSTALL --config $BUILD_TYPE
          else
            make install
          fi

      - name: Package
        shell: bash
        working-directory: ./install
        env:
          CONFIG_TYPE: ${{ matrix.config.preset }}
        run: |
          if [[ "$OSTYPE" == "msys" ]]; then
            7z a zeus-$GITHUB_REF_NAME-$CONFIG_TYPE-x64.zip -r zeus
          else
            zip zeus-$GITHUB_REF_NAME-$CONFIG_TYPE-x64.zip -r zeus
          fi

      - name: Publish
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: "./install/*.zip"
